@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&family=Poppins:wght@200;300;400;500;600;700&display=swap");
:root {
  --home-color: #323150;
  --red-color: #f54a5d;
  --purple-color: #6768de;
  --yellow-color: #edcf49;
  --lightwhite-color: #f0eff5;
  --white-color: #e9ecf1;
  --main-font: "Poppins", sans-serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: var(--main-font);
  scroll-behavior: smooth;
  scroll-padding: 2rem;
  background-color: var(--lightwhite-color);
  background-color: #d5def5;
}

ul,
li,
a {
  list-style: none;
  text-decoration: none;
}

/* --------home page--------- */
.container {
  padding: 0 1.5rem;
}
header {
  height: 100%;
  background-color: var(--home-color);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 0 1.5rem;
  background-color: var(--home-color);
}
.nav-logo a {
  font-size: 1rem;
  font-weight: 600;
  color: var(--white-color);
}
.nav-panel {
  background-color: var(--purple-color);
  background-color: var(--home-color);
  position: absolute;
  right: 0;
  left: 0;
  top: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
  padding: 1rem 0;
  /* border-radius: 0 0 10px 10px; */
  transform: scaleY(0);
  transition: 0.35s;
  opacity: 0;
  transform-origin: top;
}
.nav-panel.show {
  transform: scaleY(1);
  opacity: 1;
}
.nav-panel a {
  color: var(--white-color);
  font-size: 0.9rem;
}
.hamburger {
  display: inline-block;
  cursor: pointer;
}
.hamburger .line {
  height: 2px;
  width: 15px;
  background-color: var(--white-color);
  margin: 3px auto;
  display: block;
  transition: all 0.3s;
}
.hamburger.rotate .line-1 {
  transform: rotate(45deg) translateY(7px);
}
.hamburger.rotate .line-2 {
  transform: translateX(-10px);
  opacity: 0;
}

.hamburger.rotate .line-3 {
  transform: rotate(-45deg) translateY(-7px);
}
/* ------- hero ---------- */
.hero {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-content {
  color: var(--white-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-content a {
  color: var(--lightwhite-color);
}
.hero-content h2 {
  font-weight: 600;
  font-size: 2.4rem;
}
.hero-content p {
  color: var(--lightwhite-color);
  font-size: 1rem;
  margin-bottom: 1rem;
}
.socials-container {
  display: flex;
  gap: 1rem;
}
.socials-container a {
  font-size: 1.4rem;
}
.about-me-btn {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
  background-color: var(--red-color);
  background-color: #ff304f;
  padding: 0.25rem 0.9rem;
  padding-bottom: 0.4rem;
  border-radius: 50px;
}
.about-me-btn a {
  text-transform: uppercase;
  font-size: 0.8rem;
}

/* -----------about section----------- */
.about-content-container p,
.skills-card p,
.portfolio-text p,
.contact-container p,
.email-text a {
  font-size: 0.9rem;
  color: #000;
}

.section {
  padding-top: 2rem;
  padding-bottom: 3rem;
}
.section-title {
  font-size: 1.4rem;
  margin-bottom: 2rem;
}
.about-img-container {
  width: 13rem;
  height: 9rem;
  border: 3px solid var(--purple-color);
  margin: auto;
  margin-bottom: 1.5rem;
  overflow: hidden;
}
.about-img-container img {
  height: 100%;
  width: 100%;
  object-position: center;
}
.about-content-container {
  background-color: var(--white-color);
  box-shadow: 4px 1px 20px -14px rgba(0, 0, 0, 0.75);
  padding: 2rem;
  width: 85%;
  margin: auto;
  border-radius: 17px;
}

.about-content-container p:last-child {
  margin-top: 1.5rem;
}

/* --------skills section---------- */
.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.skills-card {
  width: 65%;
  padding: 1.5rem 1.3rem;
  min-height: 16rem;
  box-shadow: 4px 1px 20px -14px rgba(0, 0, 0, 0.75);
  border-radius: 13px;
}
.skills-card .img-block {
  font-size: 4rem;
  display: flex;
  justify-content: center;
  gap: 0.8rem;
  margin-bottom: 1rem;
}
.skills-text-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills-text-block h3 {
  font-size: 1.1rem;
  margin-bottom: 0.8rem;
}
.skills-text-block p {
  text-align: center;
  /* display: none; */
}
.skills-card:first-child {
  background-color: var(--purple-color);
}
.skills-card:nth-child(2) {
  background-color: var(--red-color);
}
.skills-card:last-child {
  background-color: var(--yellow-color);
}

/* ------------portfolio section----------- */
.portfolio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.portfolio-card {
  width: 80%;
  padding: 1.5rem 1.3rem;
  background-color: var(--white-color);
  /* padding: 1rem 1.3rem; */
  box-shadow: 4px 1px 20px -14px rgba(0, 0, 0, 0.75);
  border-radius: 13px;
}
.portfolio-img-block {
  width: 100%;
  height: 14rem;
  border: 2px solid var(--purple-color);
  margin-bottom: 0.8rem;
}
.portfolio-img-block img {
  height: 100%;
  width: 100%;
}
.portfolio-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.portfolio-text h3 {
  font-size: 1.3rem;
  margin-bottom: 3rem;
}
.portfolio-text p {
  text-align: center;
  display: none;
}
.portfolio-text a {
  font-size: 0.7rem;
  background-color: var(--purple-color);
  color: var(--lightwhite-color);
  padding: 0.3rem 0.7rem;
}
/* ---------contact section----------- */
.contact-container {
  width: 95%;
  height: 15rem;
  padding: 1rem 1.3rem;
  background-color: var(--lightwhite-color);
  box-shadow: 4px 1px 20px -14px rgba(0, 0, 0, 0.75);
  border-radius: 13px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}
.contact-container .box {
  display: flex;
}
.contact-container h3 {
  font-size: 1.2rem;
}
.icon {
  /* border: 1px solid red; */
  width: 15%;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.location-box {
  margin-bottom: 2.5rem;
}
.location-text,
.email-text {
  width: 80%;
  padding-left: 1rem;
}
/* ------------footer--------- */
footer {
  background-color: var(--home-color);
  color: var(--lightwhite-color);
}
.footer-title {
  margin-bottom: 0;
  text-align: center;
  margin-bottom: 1.5rem;
  padding-top: 2rem;
}
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--lightwhite-color);
}
.footer-container ul {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}
.footer-container li {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-container a {
  color: var(--lightwhite-color);
  padding: 0.4rem;
  border-radius: 50%;
  width: 2.4em;
  background-color: var(--purple-color);
  text-align: center;
  font-size: 1rem;
}
.copyright-container {
  padding-bottom: 1rem;
}
.copyright-container p {
  font-size: 0.8rem;
}
