@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&family=Poppins:wght@200;300;400;500;600;700&display=swap");
:root {
  --home-color: #323150;
  --red-color: #f54a5d;
  --purple-color: #6768de;
  --yellow-color: #edcf49;
  --lightwhite-color: #f0eff5;
  --white-color: #e9ecf1;
  --main-font: "Poppins", sans-serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: var(--main-font);
  scroll-behavior: smooth;
  scroll-padding: 2rem;
  background-color: var(--lightwhite-color);
  background-color: #d5def5;
}

ul,
li,
a {
  list-style: none;
  text-decoration: none;
}

/* --------home page--------- */
.container {
  padding: 0 1.5rem;
}
header {
  height: 100%;
  background-color: var(--home-color);
  background: linear-gradient(
      145deg,
      rgba(50, 49, 80, 0.4),
      rgba(50, 49, 80, 0.8)
    ),
    url(./img/pexels-raphael-brasileiro-7498662.jpg);
  background-position: center;
  background-size: cover;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 0 1.5rem;
  transition: 0.3s;
}
nav.change-bg {
  background-color: var(--home-color);
}
.nav-logo a {
  font-size: 1rem;
  font-weight: 600;
  color: var(--white-color);
}
.nav-panel {
  background-color: var(--home-color);
  position: absolute;
  right: 0;
  left: 0;
  top: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
  padding: 1rem 0;
  transform: scaleY(0);
  transition: 0.35s;
  opacity: 0;
  transform-origin: top;
}
.nav-panel.show {
  transform: scaleY(1);
  opacity: 1;
  border-top: 0.2px solid var(--white-color);
  box-shadow: 3px 13px 17px -15px rgba(0, 0, 0, 0.75);
}
.nav-panel a {
  color: var(--white-color);
  font-size: 0.9rem;
  transition: 0.3s;
}
.nav-panel a:hover {
  color: var(--yellow-color);
}
.hamburger {
  display: inline-block;
  cursor: pointer;
}
.hamburger .line {
  height: 2px;
  width: 15px;
  background-color: var(--white-color);
  margin: 3px auto;
  display: block;
  transition: all 0.3s;
}
.hamburger.rotate .line-1 {
  transform: rotate(45deg) translateY(7px);
}
.hamburger.rotate .line-2 {
  transform: translateX(-10px);
  opacity: 0;
}

.hamburger.rotate .line-3 {
  transform: rotate(-45deg) translateY(-7px);
}
/* ------- hero ---------- */
.hero {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-content {
  color: var(--white-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-content a {
  color: var(--lightwhite-color);
}
.hero-content h2 {
  font-weight: 600;
  font-size: 2.4rem;
}
.hero-content p {
  color: var(--lightwhite-color);
  font-size: 1rem;
  margin-bottom: 1rem;
}
.socials-container {
  display: flex;
  gap: 1rem;
}
.socials-container a {
  font-size: 1.4rem;
  transition: 0.3s;
}
.socials-container a:hover {
  color: var(--yellow-color);
}
.arrow-down {
  font-size: 1.5rem;
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
  transition: 0.3s;
  animation: down 1s infinite;
}
.arrow-down a {
  color: var(--red-color);
  transition: 0.3s;
}
.arrow-down a:hover {
  color: var(--yellow-color);
}

/* -----------about section----------- */

.section {
  padding-top: 2rem;
  padding-bottom: 3rem;
}
.section-title {
  font-size: 1.4rem;
  margin-bottom: 2rem;
}
.section p,
section a {
  font-size: 0.9rem;
  color: #000;
}
.card {
  background-color: var(--white-color);
  box-shadow: 4px 1px 20px -14px rgba(0, 0, 0, 0.75);
  padding: 1.5rem 1.3rem;
  border-radius: 13px;
}
.about-img-container {
  width: 13rem;
  height: 9rem;
  border: 3px solid var(--purple-color);
  margin: auto;
  margin-bottom: 1.5rem;
}
.about-img-container img {
  height: 100%;
  width: 100%;
  object-position: center;
}
.about-content-container {
  padding: 2rem;
  width: 85%;
  margin: auto;
  border-radius: 17px;
}

.about-content-container p:last-child {
  margin-top: 1.5rem;
}

/* --------skills section---------- */
.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.skills-card {
  width: 65%;
  min-height: 16rem;
}
.skills-card .img-block {
  font-size: 4rem;
  display: flex;
  justify-content: center;
  gap: 0.8rem;
  margin-bottom: 1rem;
}
.skills-text-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills-text-block h3 {
  font-size: 1.1rem;
  margin-bottom: 0.8rem;
}
.skills-text-block p {
  text-align: center;
}
.skills-card:first-child {
  background-color: #b8b5ff;
}
.skills-card:nth-child(2) {
  background-color: #fce850;
}
.skills-card:last-child {
  background-color: #ff6868;
}
.skills-card i {
  color: #000;
}
.skills-card:first-child p {
  /* color: #cccccc; */
}

/* ------------portfolio section----------- */
.portfolio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.portfolio-card {
  width: 80%;
  padding: 1.5rem 1.3rem;
}
.portfolio-img-block {
  width: 100%;
  height: 14rem;
  border: 2px solid var(--purple-color);
  margin-bottom: 0.8rem;
}
.portfolio-img-block img {
  height: 100%;
  width: 100%;
}
.portfolio-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.portfolio-text h3 {
  font-size: 1.3rem;
  margin-bottom: 3rem;
}
.portfolio-text p {
  text-align: center;
  display: none;
}
.portfolio-text a {
  font-size: 0.8rem;
  background-color: var(--purple-color);
  color: var(--lightwhite-color);
  padding: 0.3rem 0.7rem;
  transition: 0.3s;
}
.portfolio-text a:hover {
  background-color: var(--home-color);
}
.portfolio-bottom-text {
  margin-top: 2rem;
}
.portfolio-bottom-text p {
  font-size: 0.85rem;
  text-align: center;
}
.portfolio-bottom-text span a {
  font-weight: 600;
}

/* ---------contact section----------- */
.contact-container {
  width: 95%;
  min-height: 15rem;
  padding: 1rem 1.3rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact-container .box {
  display: flex;
}
.contact-container h3 {
  font-size: 1.2rem;
}
.icon {
  width: 15%;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.location-box, .email-box {
  margin-bottom: 2.5rem;
}
.location-text,
.email-text {
  width: 80%;
  padding-left: 1rem;
}
@media screen and (max-width: 407px) {
  .card {
    width: 100%;
  }
  .contact-container {
    padding: 0.5rem;
  }
  .icon {
    font-size: 1.8rem;
  }
  .location-text,
  .email-text {
    width: 80%;
    padding-left: 0.5rem;
  }
  .location-text p,
  .email-text a {
    font-size: 0.8rem;
  }
}
/* ------------footer--------- */
footer {
  background-color: var(--home-color);
  color: var(--lightwhite-color);
}
.footer-title {
  margin-bottom: 0;
  text-align: center;
  margin-bottom: 1.5rem;
  padding-top: 2rem;
}
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--lightwhite-color);
}
.footer-container ul {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}
.footer-container li {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-container a {
  color: var(--lightwhite-color);
  padding: 0.4rem;
  border-radius: 50%;
  width: 2.4em;
  background-color: var(--purple-color);
  border: 1.5px solid var(--purple-color);
  text-align: center;
  font-size: 1.1rem;
  transition: 0.3s;
}
.footer-container a:hover {
  background-color: transparent;
}
.copyright-container {
  padding-bottom: 1rem;
}
.copyright-container p {
  font-size: 0.8rem;
}
.arrow-to-home {
  position: fixed;
  background-color: var(--purple-color);
  bottom: -100%;
  right: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.arrow-to-home a {
  font-size: 1rem;
  color: var(--white-color);
  transform: rotate(90deg);
  padding: 0 10px;
}
.arrow-to-home.appear {
  bottom: 3%;
}

/* -------------media queries-------- */
@media screen and (min-width: 449px) {
  .section-title {
    text-align: center;
    font-size: 1.7rem;
  }
  .section p {
    font-size: 1.05rem;
  }
  .section a {
    font-size: 0.85rem;
  }
  .contact-container a,
  .portfolio-bottom-text a {
    font-size: 1.1rem;
  }
  .about-content-container {
    max-width: 30rem;
  }
  .skills-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .skills-card {
    padding-top: 3rem;
    max-width: 20rem;
    height: 23.5rem;
  }
  .skills-card h3 {
    font-size: 1.3rem;
  }
  .portfolio-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
  }
  .portfolio-card {
    width: 18rem;
  }
  .contact-container {
    max-width: 40rem;
  }
}
@media screen and (min-width: 600px) {
  .hero-content h2 {
    font-size: 3rem;
  }
  .hero-content p {
    font-size: 1.1rem;
  }
  .socials-container {
    gap: 1.6rem;
  }
  .socials-container a {
    font-size: 1.8rem;
  }
  .arrow-down a {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 812px) {
  .hamburger {
    display: none;
  }
  nav {
    height: auto;
    padding: 0 4rem;
  }
  .nav-panel {
    background-color: transparent;
    position: relative;
    flex-direction: row;
    gap: 1.5rem;
    transform: scaleY(1);
    transition: 0.35s;
    opacity: 1;
  }
  .nav-logo a {
    font-size: 1.5rem;
  }
  .nav-panel a {
    font-size: 1.1rem;
    transition: all 0.3s;
  }
  .nav-panel a:hover {
    color: var(--yellow-color);
  }
  .arrow-to-home {
    right: 3rem;
  }
}

@media screen and (min-width: 1000px) {
  .about-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
  .portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(18rem, 20rem));
  }
  .about-img-container {
    width: 20rem;
    height: 15rem;
    align-self: center;
    margin: 0;
  }
  .about-content-container {
    width: auto;
    margin: 0;
  }
}
/* ------------animation---------- */

.hero-content h2 {
  animation: appear 1s;
}
.hero-content p {
  animation: name duration timing-function delay iteration-count direction
    fill-mode;
  animation: left-appear 1s;
}
@keyframes left-appear {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes appear {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);

    opacity: 1;
  }
}
.socials-container {
  animation: shows 3s;
}
@keyframes shows {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.arrow-down {
  animation: come 2s alternate;
}
@keyframes come {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  80% {
    transform: translateY(4px);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
  }
}
