@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&family=Poppins:wght@200;300;400;500;600;700&display=swap");
:root {
  --home-color: #323150;
  --red-color: #f54a5d;
  --purple-color: #6768de;
  --yellow-color: #edcf49;
  --lightwhite-color: #f0eff5;
  --white-color: #e9ecf1;
  --main-font: "Poppins", sans-serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: var(--main-font);
  scroll-behavior: smooth;
  background-color: var(--lightwhite-color);
}

ul,
li,
a {
  list-style: none;
  text-decoration: none;
}

/* --------home page--------- */
.container {
  padding: 0 1.5rem;
}
header {
  height: 100%;
  background-color: var(--home-color);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 0 1.5rem;
}
.nav-logo a {
  font-size: 1rem;
  font-weight: 600;
  color: var(--white-color);
}
.nav-panel {
  background-color: var(--purple-color);
  position: absolute;
  right: 1.5rem;
  left: 1.5rem;
  top: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
  padding: 1rem 0;
  border-radius: 0 0 20px 20px;
  transform: scaleY(0);
  transition: 0.35s;
  opacity: 0;
  transform-origin: top;
}
.nav-panel.show {
  transform: scaleY(1);
  opacity: 1;
}
.nav-panel a {
  color: var(--white-color);
  font-size: 0.9rem;
}
.hamburger {
  display: inline-block;
  cursor: pointer;
}
.hamburger .line {
  height: 2px;
  width: 15px;
  background-color: var(--white-color);
  margin: 3px auto;
  display: block;
  transition: all 0.3s;
}
.hamburger.rotate .line-1 {
  transform: rotate(45deg) translateY(7px);
}
.hamburger.rotate .line-2 {
  transform: translateX(-10px);
  opacity: 0;
}

.hamburger.rotate .line-3 {
  transform: rotate(-45deg) translateY(-7px);
}
/* ----------------- */
.hero {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-content {
  color: var(--white-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-content a {
  color: var(--lightwhite-color);
}
.hero-content h2 {
  font-weight: 600;
  font-size: 1.7rem;
}
.hero-content p {
  color: var(--lightwhite-color);
  font-size: 0.8rem;
  margin-bottom: 1rem;
}
.socials-container {
  display: flex;
  gap: 1rem;
}
.about-me-btn {
  display: flex;
  align-items: center;
  margin-top: 1.2rem;
  background-color: var(--red-color);
  padding: 0.2rem 0.9rem;
  padding-bottom: 0.25rem;
  border-radius: 50px;
}
.about-me-btn a {
  text-transform: uppercase;
  font-size: 0.8rem;
}

/* -----------about section----------- */
.section {
  padding-top: 2rem;
  padding-bottom: 3rem;
}
.about-section h2 {
  font-size: 1.4rem;
  margin-bottom: 2rem;
}
.about-img-container {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 1.5rem;
}
.about-img-container img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-position: center;
}
.about-content-container {
  background-color: #f5f5f5;
  box-shadow: 4px 1px 20px -14px rgba(0, 0, 0, 0.75);
  padding: 1.5rem;
  width: 85%;
  margin: auto;
}
.about-content-container p {
  font-size: 0.8rem;
}
.about-content-container p:last-child {
  margin-top: 1.5rem;
}
